#page2{
    height: 150vh;
    width: 100%;
    background-color: #C3BCB2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;
}

#page2-left{
    height: 100%;
    width: 40%;

    padding-right: 50px;
    border-right: 1px solid black;
}

#page2-left h2{
    font-size: 110px;
    font-family: Canopee;
    /* text-align: center; */
    line-height: 130px;
    font-weight: 100;
}
#page2-left h2 span{
    font-size: 150px;
    font-weight: 700;
}
#page2-left img{
    height: 55%;
    width: 100%;
    object-fit: cover;
}
#page2-left p{
    font-size: 30px;
    font-family: domaine;
    color: #514e4b;
    margin-top: 30px;
}

#page2-left p span{
    font-size: 40px;
    color: white;
    background-color: #514e4b;
    margin-right: 3px;
    margin-top: 80px;
}


/* ------------------------------------- */
#page2-right{
    height: 100%;
    width: 60%;
    padding: 0px 50px;
}

#page2-right img{
    height: 60%;
    width: 100%;
    object-fit: cover;
}

#page2-right h1{
    font-family: canopee;
    font-size: 96px;
    font-weight: 100;
    letter-spacing: -1px;
}

